@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
.options{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    min-width: 600px;
    max-width: 900px;
    width: calc(100% - 100px);
    height: 900px;
}
.option{
    position: relative;
    overflow: hidden;
    min-width: 60px;
    margin: 10px;
    background: var(--optionBackground, var(--defaultBackground, #e6e9ed));
    background-size: auto 120%;
    background-position: center;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.option.active{
    flex-grow: 10000;
    transform: scale(1);
    min-width: 600px;
    margin: 0;
    border-radius: 40px;
    background-size: auto 100%;
}
.option.active:nth-child(1){
    background-size: auto 20%;
}
.option.active:nth-child(4){
    background-size: auto 70%;
}

.option:nth-child(1){
    --defaultBackground: #97000f;
}
.option:nth-child(2){
    --defaultBackground: #fc6e51;
}
.option:nth-child(3){
    --defaultBackground: #ffce54;
}
.option:nth-child(4){
    --defaultBackground: #ff40af;
}
.option.active .shadow{
    box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}
.option.active .label{
    bottom: 20px;
    left: 20px;
}
.option.active .info > div {
    left: 0;
    opacity: 1;
}
.option:not(.active){
    flex-grow: 1;
    border-radius: 30px;
}
.option:not(.active) .shadow{
    box-shadow: inset 0 -120px 0 -120px black, inset 0 -120px 0 -100px black;
}
.option:not(.active) .label{
    bottom: 10px;
    left: 10px;
}
.option:not(.active) .info > div {
    left: 20px;
    opacity: 0;
}
.shadow{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 120px;
    transition: cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.label{
    display: flex;
    position: absolute;
    right: 0;
    height: 40px;
    transition: cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: white;
    color: var(--defaultBackground);
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: white;
    white-space: pre;
}
.info > div{
    position: relative;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}
.main{
    font-weight: bold;
    font-size: 1.2em;
}
.sub{
    transition-delay: 0.1s;
}